<form class="form dashboard-form" data-user-id="{{ user_id }}">
  <input type="text" id="post-title" placeholder="Title">
  <textarea id="post-content" placeholder="Content"></textarea>
  <button class="btn btn-primary" id="create-post-btn" type="button">Create Post</button>
</form>

<script src="/js/post.js"></script>

<script>
  document.querySelector('#create-post-btn').addEventListener('click', () => {
    const form = document.querySelector('.dashboard-form');
    const user_id = form.dataset.userId;
    newPost(user_id);
  });
</script>
